{{ define "main" }}
{{- $size := .Paginator.PageSize }}
{{ $pages := .Paginate (where .Site.Pages "Section" "!=" "").ByPublishDate.Reverse }}
{{ $scratch := newScratch }}
{{- range $index, $value := $pages.Pages }}
<div class="post-masonry col-md-4 col-sm-6">
    <div class="post-thumb pop">
        <img src="{{ .Site.BaseURL }}photos/{{ .Params.image }}" alt="{{ $value.Title }}">
        <div class="title-over">
            <h4><a href="#">{{ $value.Title }}</a></h4>
        </div>
        <div class="post-hover text-center">
            <div class="inside">
                <i class="fa fa-plus"></i>
                <span class="date">{{ dateFormat "January 02, 2006" $value.Date }}</span>
                <h4><a href="#">{{ $value.Title }}</a></h4>
                <p>{{ .Params.description }}</p>
            </div>
        </div>
    </div>
</div> <!-- /.post-masonry -->
{{ end }}
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">              
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <img src="" class="imagepreview" style="width: 100%;" >
        </div>
      </div>
    </div>
  </div>
{{ end }}