        <!-- FOOTER -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="social-icons">
                            <ul>
                                <li><a href="{{ .Site.Params.instagram }}" class="fa fa-instagram"></a></li>
                                <li><a href="{{ .Site.Params.twitter }}" class="fa fa-twitter"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="copyright-text">Copyright &copy; 2020 Saisyam
                        | Photos by <a rel="nofollow" href="https://saisyam.com">Saisyam</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="{{ .Site.BaseURL }}js/vendor/jquery-1.10.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="{{ .Site.BaseURL }}js/min/plugins.min.js"></script>
        <script src="{{ .Site.BaseURL }}js/min/main.min.js"></script>

        <!-- Preloader -->
        <script type="text/javascript">
            //<![CDATA[
            $(window).load(function() { // makes sure the whole site is loaded
                $('#loader').fadeOut(); // will first fade out the loading animation
                    $('#loader-wrapper').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
                $('body').delay(350).css({'overflow-y':'visible'});
            });
            //]]>
            $(function() {
                    $('.pop').on('click', function() {
                        $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                        $('#imagemodal').modal('show');   
                    });		
            });
        </script>