<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Saisyam - Photography</title>
    <meta name="description" content="Photography portfolio of saisyam">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/normalize.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/font-awesome.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/templatemo-style.css">
    <script src="{{ .Site.BaseURL }}js/vendor/modernizr-2.6.2.min.js"></script>
</head>