<!DOCTYPE html>
<html lang='en'>
  {{ partial "head.html" . }}
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>

    <div class="content-bg"></div>
    <div class="bg-overlay"></div>

    {{ partial "header.html" . }}
    <div class="main-posts">
        <div class="container">
            <div class="row">
                <div class="blog-masonry masonry-true">
                    {{ block "main" . }}{{ end }}
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}
    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>